[Unit]
Description=Gunicorn for DRF project
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/opt/diplom_netelogy
ExecStart=/opt/diplom_netelogy/.venv/bin/gunicorn \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          diplom_main.wsgi:application

[Install]
WantedBy=multi-user.target