[flake8]
ignore =
    E501,      
    D100,    
    D101,    
    D102,    
    D103,    
    D107,     

exclude =
    */migrations/,
    ./.venv/,
    manage.py,
    settings.py

application-import-names = diplom_main